<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">This is my Angular App</h1>
      <p class="lead text-muted">This was created as a way to teach myself new things and showcase my skills &
        talants.
        <br> <br>
        My girlfriend wants the credit for taking the two tree pictures.</p>
    </div>
  </section>

  <div class="album py-5 bg-Color-P">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/img/View-1.JPG" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text">What Went Into This Project</h3>
              <p class="card-text">
                For starters, the main purpose of this was to gain some exposure with Angular.
                Clearly, from what this project is composed of, it is safe to say that I had more to learn that just
                how to use Angular while I was creating this.
              </p>
              <a routerLink="/about" class="btn btn-primary">See More on the About Page</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/img/View-3.1.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text">The Project Components</h3>
              <p class="card-text">
                Components are what make up Angular Apps - literally. I have several generic component but also some
                that I have for displaying my projects.
              </p>
              <a routerLink="/about" class="btn btn-primary">See More on the About Page</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/img/View-2.JPG" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text">About the Project</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
                <a routerLink="/about" class="btn btn-primary">See More on the About Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>